table tr td, table tr th {
  border: 1px solid black;
}

ul.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.status-date {
  white-space: nowrap;
}

.activation-mail-sent {
  white-space: nowrap;
}
